.main-content ul{
	list-style-type: disc;
	list-style-position: inside;
	margin-left:3%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.main-content ul li{
	padding: 5px 0 5px 0;
}

.spacer{
	width: 100%;
	height: 5%;
}

strong {
	font-weight: bold;
  }